

<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color = "primary">
            <span>Menú</span>
            <span class ="spacer"></span>
            <button mat-icon-button
            (click)="sidenav.toggle()">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./listado"
            mat-list-item
            (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado de Vehículos</span>
               
            </a>

            <a routerLink="./agregar"
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>add</mat-icon>
                <span>Agregar nuevo vehículo</span>
            </a>

            <a routerLink="./editar"
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon ><span class="material-icons-outlined">
                assignment
                </span></mat-icon>
                <span>Editar vehículo</span>
            </a>

            <a routerLink="./buscar"
            mat-list-item
            (click)="sidenav.toggle()">
            <mat-icon mat-list-icon>search</mat-icon>
            <span>Buscar Vehiculo</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
        (click)="sidenav.toggle()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </button>

        <span class ="spacer"></span>
        <button mat-button>
            Salir
        </button>

    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

    

</mat-sidenav-container>